#quiz {

    background-color:#bd7511;
    text-align: center;
    width: 100%;
    min-height: 100vh;

}


body {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
